@model Spiracle.NETCore.Models.RedirectModel

@{
    ViewData["Title"] = "Index";
}

<html>
<body>
    <div class="container">
        
        <div class="card">
            <div class="card-header">Open Redirect</div>
        </div>
            
        <div>
            <td><a href="Redirect?redirectType=ResponseRedirect&value=home">Redirect to default Spiracle.NETCore home page</a></td>
        </div>
    </div>

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    </body>
</html>