@{
    ViewData["Title"] = "Home Page";
}
<html>
    <body>
<div class="text-left">

        <h1>Overview</h1>
        <p class="lead">Spiracle.NETCore is an insecure web application used to test system security controls.</p>
        The application is vulnerable to numerous vulnerabilities such as:
        <ul>
            <li>SQL Injection (CWE-89)</li>
            <li>XSS (CWE-79)</li>
            <li>and many more...</li>
        </ul>
        <p>Due to its insecure design, this application should NOT be deployed on an unsecured network or system.</p>
</div>
</body>
</html>