@model Spiracle.NETCore.Models.XssModel

@{
    ViewData["Title"] = "Index";
}

<html>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">Reflected Parameters</div>
        </div>
            
        <div>
            <table class="table table-bordered" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
                <tr><th scope="col">Payload</th></tr>
                @foreach (var requestParamValue in Model.RequestParamValues)
                {
                    <tr><td>@Html.Raw("" + requestParamValue)</td></tr>
                } 
            </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    </body>
</html>